@{
    ViewData["Title"] = "Menú Operaciones";
}

<div class="row">
    <div class="col-md-4 margin-top-20"></div>
    <div class="col-md-4 margin-top-20">
        <h4>Eliga una opción</h4>
        <a class="col-lg-5" href="Balance"><div class="btn btn-primary btn-block margin-top-20">Balance</div></a>
        <a class="col-lg-5" href="Withdraw"><div class="btn btn-primary btn-block margin-top-20">Retiro</div></a>
        <a href="Index"><div class="btn btn-primary btn-block margin-top-20">Salir</div></a>
    </div>
</div>
