@model OriginBank.Web.Models.WithdrawalResultViewModel

@{ ViewData["Title"] = "Retiro"; }

<div class="row">
    <div class="col-md-4 margin-top-20"></div>
    <div class="col-md-4 margin-top-20">
        <form asp-action="Withdraw" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WithdrawalAmount" class="control-label">Elija un monto</label>
                <input asp-for="WithdrawalAmount" class="form-control" data-type="currency" placeholder="1,000.00" id="use-numpad" />
                <span asp-validation-for="WithdrawalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <partial name="_NumPadCurrency" />
            </div>
            <div class="form-group">
                <input type="submit" value="Aceptar" class="btn btn-success btn-block" />
            </div>
        </form>
        <a href="Menu"><div class="btn btn-light btn-block margin-top-20">Atras</div></a>
        <a href="Index"><div class="btn btn-danger btn-block margin-top-20">Salir</div></a>
    </div>
</div>
